<!--==================送信===================-->
<%# if flash[:notice] %>
<!--  <h2 style="color: red;">-->
    <%#= flash[:notice] %>
<!--  </h2>-->
<%#end %>
<!--<h1>-->
<!--  首頁-->
<!--</h1>-->
<%#= link_to "送信", home_send_mail_url %>


<%# if user_signed_in? %>
<!--  <li>-->
    <%#= link_to('Logout', destroy_user_session_path, method: :delete) %>
<!--  </li>-->
<%# else %>
<!--  <li>-->
    <%#= link_to('Login', new_user_session_path) %>
<!--  </li>-->
<%# end %>
<!--==================送信===================-->



<h1>首頁</h1>
<%= @number %>
<%= @string1 %>
<%= @string2 %>
<%= @author %>